<!DOCTYPE HTML>
<html lang="ko">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181052999-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-181052999-1');
</script>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
<style type="text/css">
		@media screen and (max-width: 767px){
			body {background-color: gold;}
		}
		@media screen and (min-width: 768px) and (max-width: 1024px){
			body{background-color: lightblue;}
		}
		@media screen and (min-width: 1025px) {
			body{
				background-color: lightpink;
			}
		}

	</style>

    
    <title> 강문구 파이썬</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->


</head>
<body>

{% include "navbar.html" %}

{% block content %}

{% endblock %}
<!-- Bootstrap, jQuery JS -->
   <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
   <script src="{{ url_for('static',  filename='bootstrap.min.js') }}"></script>

{% block script %}
{% endblock %}
</body>
</html>